*, *::before, *::after {
  box-sizing: border-box;
}

body {
   font-family: 'Roboto', sans-serif;
   font-size: 10px;
   background-color: #2b2b2a;
}

h3 {
  font-size: 1.2em;
  font-weight: 600;
}
h2 {
  font-size: 1.4em;
  font-weight: bolder;
}

h1 {
  font-size: 2em;
  font-weight: bolder;
  background-color: #02768F;
  line-height: 33px;
  text-align: center;
  color: white;
  border-radius: 12px;
}
 p {
  color: #656565;

 }
 .ar {
   color: #02768F;
 }

 .container {
   margin: 0 auto;
   width: 375px;
   background-color: #EFFCFF;
}

 .routes {
   padding-top: 64px;
   padding-bottom: 50px;
 }

.box {
  width: 100%;
  height: 80px;
  border-bottom: 6px solid white;
  display: inline-block;
  color: #032E35;
}

.box:hover {
  background-color: #dbf4ff;
}

 .boxsmall {
   width: 100%;
   height: 40px;
   padding-left: 15px;
   padding-top: 10px;
   border-bottom: 6px solid white;
   background-color: #02768F;
   letter-spacing: 1px;
}

 .nav {
   margin: 0 auto;
   position: fixed;
   width: 375px;
   background-color: #F8F8F8;
   height: 64px;
}

  footer {
    width: 375px;
    position: fixed;
    bottom: 0;
    overflow: hidden;
    background-color: #F8F8F8;
    height: 49px;
}

 .homeTwo {
   display: inline-block;
   width: 24%;
   text-align: center;
}

 .arrivals {
  display: inline-block;
  width: 24%;
  text-align: center;
}

 .maps {
  display: inline-block;
  width: 24%;
  text-align: center;
}

.refresh {
  display: inline-block;
  width: 24%;
  text-align: center;
  margin-top: 6px;
}

.title {
  text-align: center;
  display: inline-block;
  width: 100%;
  padding-top: 12px;
}

  .space {
    height: 50px;
    background-color: #EFFCFF;
    position: fixed;
    bottom: 0;
    width: 375px;
}

  .stop {
    display: inline-block;
    width: 40%
}

  .frequency {
    display: inline-block;
    width: 16%;
    font-size: 1em;
    padding-left: 7px;
}

  .time {
    display: inline-block;
    width: 15%;
    font-size: 1.3em;
}
  .arrow {
    display: inline-block;
    width: 3%;
    color: #02768F;
}

  .direction {
    color: white;
}

  .busNumber {
    margin-top: 19px;
    display: inline-block;
    width: 17%;
    margin-left: 10px;
    padding-right: 6px;
}

  .boxsmall.reroute {
    background-color: #db5800;
    letter-spacing: 1px;

}
 .rerouteT {
    background-color: #db5800;
}

  .rer {
  color: #db5800;
}

  .boxsmall.out {
    background-color: #787776;
    letter-spacing: 1px;
}

  .box.noservice {
    color: #787776;
}

  .nos {
    background-color: #787776;
}

  .nosar {
    color: #787776;
    padding-left: 3px;
}
